{% extends "main.html" %}
{% block content %}

<div class="row banner">
    <div class="container-wrapper">
        <div class="col-xs-12">
            <h2>Delete Category</h2>
        </div>
    </div>
</div>

<div class="container-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-wrapper clearfix text-center">
                    <h2> Are you sure you want to delete {{category_name}}? </h2>

                    <form action="{{url_for('deleteCategory', category_name = category_name)}}" method='post'>
                        <button type="submit" class="btn btn-danger" id="submit" type="submit">
                            Delete
                        </button>
                        <a href='{{url_for('showCategories')}}'>
                            <div class="btn btn-default">
                                Cancel
                            </div>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}